body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}

.container-1 {
  margin-left: auto;
  margin-right: auto;
  width: min(100vw - 40px, 1344px);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: min(100vw - 40px, 1280px);
}

.reviews-container .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #eaeaea;
  opacity: 1;
}
.reviews-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1fa500;
}
.reviews-container .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
@media (min-width: 900px) {
  .reviews-container .swiper-pagination {
    margin-top: 48px;
  }
}

.solutions-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #eaeaea;
  opacity: 1;
}
.solutions-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1fa500;
}
.solutions-swiper .swiper-pagination {
  position: relative;
  margin-top: 24px;
}

/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;
}

.looper__listInstance {
  display: flex;
  width: max-content;
  animation: none;
  gap: 6px;
}

@media (min-width: 900px) {
  .looper {
    padding: 0 0;
  }
  .looper__listInstance {
    gap: 12px;
  }
}
