body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: min(100vw - 40px, 1280px);
}

.reviews-container .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #eaeaea;
  opacity: 1;
}
.reviews-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1fa500;
}
.reviews-container .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
@media (min-width: 900px) {
  .reviews-container .swiper-pagination {
    margin-top: 48px;
  }
}

.solutions-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #eaeaea;
  opacity: 1;
}
.solutions-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1fa500;
}
.solutions-swiper .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
